* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 16px;
  height: 100vh;
}
.todoTitle {
  font-size: 80px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 600px) {
  .todoList {
    flex-direction: row;
  }
}
